In [5]:
import csv
import glob
import pandas as pd

In [6]:
year = '2024'
week = 'week2'
#file/folder
csvfolder = f"./data/{year}/{week}/*.csv"
outputcsvfolder =  f"./data/{year}_{week}.csv"

#list csv files
csv_files = glob.glob(csvfolder)
    # print(path)

df_concat = pd.concat([pd.read_csv(path,  sep = '|') for path in csv_files ], ignore_index=True)

#export to csv with | delimited
df_concat.to_csv(outputcsvfolder,sep='|', index=False) # Use pipe to seperate data

In [7]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13431 entries, 0 to 13430
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           13431 non-null  int64
 1   week           13431 non-null  object
 2   event          13431 non-null  object
 3   rank           13431 non-null  object
 4   swimmer        13431 non-null  object
 5   seed           13431 non-null  object
 6   final          13431 non-null  object
 7   swimmer_name   13431 non-null  object
 8   swimmer_age    13431 non-null  int64
 9   swimmer_team   13431 non-null  object
 10  seed_seconds   13431 non-null  object
 11  final_seconds  13431 non-null  object
 12  event_no       13431 non-null  int64
dtypes: int64(3), object(10)
memory usage: 1.3+ MB

In [8]:
df_concat.head()

,year,week,event,rank,swimmer,seed,final,swimmer_name,swimmer_age,swimmer_team,seed_seconds,final_seconds,event_no
0,2024,week2,Event 1 - Male 12&U 100M Medley,1,"Thomas, Tripp C (12)(SG)",1:08.28,1:05.56,"Thomas, Tripp C",12,SG,68.28,65.56,1
1,2024,week2,Event 1 - Male 12&U 100M Medley,2,"Fortunato, Chase (12)(RF)",1:13.38,1:12.34,"Fortunato, Chase",12,RF,73.38,72.34,1
2,2024,week2,Event 1 - Male 12&U 100M Medley,3,"Hernandez Fuentes, Jordan O (12)(SG)",1:17.50,1:16.09,"Hernandez Fuentes, Jordan O",12,SG,77.5,76.09,1
3,2024,week2,Event 1 - Male 12&U 100M Medley,4,"Parker, William (12)(SG)",1:21.59,1:21.62,"Parker, William",12,SG,81.59,81.62,1
4,2024,week2,Event 1 - Male 12&U 100M Medley,5,"Frend, Jack (11)(RF)",1:30.28,1:28.19,"Frend, Jack",11,RF,90.28,88.19,1