In [13]:
import csv
import glob
import pandas as pd

In [14]:
year = '2023'
week = 'week6'
#file/folder
csvfolder = f"./data/{year}/{week}/*.csv"
outputcsvfolder =  f"./data/{year}_{week}.csv"

#list csv files
csv_files = glob.glob(csvfolder)
    # print(path)

df_concat = pd.concat([pd.read_csv(path,  sep = '|') for path in csv_files ], ignore_index=True)

#export to csv with | delimited
df_concat.to_csv(outputcsvfolder,sep='|', index=False) # Use pipe to seperate data

In [15]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8150 entries, 0 to 8149
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           8150 non-null   int64
 1   week           8150 non-null   object
 2   event          8150 non-null   object
 3   rank           8150 non-null   object
 4   swimmer        8150 non-null   object
 5   seed           8150 non-null   object
 6   final          8150 non-null   object
 7   swimmer_name   8150 non-null   object
 8   swimmer_age    8150 non-null   int64
 9   swimmer_team   8150 non-null   object
 10  seed_seconds   8150 non-null   object
 11  final_seconds  8150 non-null   object
 12  event_no       8150 non-null   int64
dtypes: int64(3), object(10)
memory usage: 827.9+ KB

In [16]:
df_concat.head()

,year,week,event,rank,swimmer,seed,final,swimmer_name,swimmer_age,swimmer_team,seed_seconds,final_seconds,event_no
0,2023,week6,Event 1 - Boys 12&U 100M Individual MedleyTeam...,1.,"Ahuja, Riaan (11) (MS)",1:14.69,1:14.75,"Ahuja, Riaan",11,MS,74.69,74.75,1
1,2023,week6,Event 1 - Boys 12&U 100M Individual MedleyTeam...,2.,"Thomas, Maddox J (12) (LLD)",1:18.73,1:19.78,"Thomas, Maddox J",12,LLD,78.73,79.78,1
2,2023,week6,Event 1 - Boys 12&U 100M Individual MedleyTeam...,3.,"Chen, Charles H (11) (PGL)",1:24.78,1:24.72,"Chen, Charles H",11,PGL,84.78,84.72,1
3,2023,week6,Event 1 - Boys 12&U 100M Individual MedleyTeam...,4.,"Hunter, Eli T (11) (LM)",1:27.32,1:25.71,"Hunter, Eli T",11,LM,87.32,85.71000000000001,1
4,2023,week6,Event 1 - Boys 12&U 100M Individual MedleyTeam...,5.,"Shi, Eli G (11) (PGL)",1:30.55,1:26.76,"Shi, Eli G",11,PGL,90.55,86.76,1