In [1]:
import csv
import glob
import pandas as pd

In [2]:
year = '2023'
week = 'week3'
#file/folder
csvfolder = f"./data/{year}/{week}/*.csv"
outputcsvfolder =  f"./data/{year}_{week}.csv"

#list csv files
csv_files = glob.glob(csvfolder)
    # print(path)

df_concat = pd.concat([pd.read_csv(path,  sep = '|') for path in csv_files ], ignore_index=True)

#export to csv with | delimited
df_concat.to_csv(outputcsvfolder,sep='|', index=False) # Use pipe to seperate data

In [3]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13528 entries, 0 to 13527
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           13528 non-null  int64
 1   week           13528 non-null  object
 2   event          13528 non-null  object
 3   rank           13528 non-null  object
 4   swimmer        13528 non-null  object
 5   seed           13528 non-null  object
 6   final          13528 non-null  object
 7   swimmer_name   13528 non-null  object
 8   swimmer_age    13528 non-null  int64
 9   swimmer_team   13528 non-null  object
 10  seed_seconds   13528 non-null  object
 11  final_seconds  13528 non-null  object
 12  event_no       13528 non-null  int64
dtypes: int64(3), object(10)
memory usage: 1.3+ MB

In [4]:
df_concat.head()

,year,week,event,rank,swimmer,seed,final,swimmer_name,swimmer_age,swimmer_team,seed_seconds,final_seconds,event_no
0,2023,week3,Event 1 - Boys 12&U 100M Individual MedleyAthl...,1.,"Thomas, Tripp C (11) (SG)",1:13.10,1:13.63,"Thomas, Tripp C",11,SG,73.1,73.63,1
1,2023,week3,Event 1 - Boys 12&U 100M Individual MedleyAthl...,2.,"Guo, Peter (12) (RV)",1:15.99,1:14.06,"Guo, Peter",12,RV,75.99,74.06,1
2,2023,week3,Event 1 - Boys 12&U 100M Individual MedleyAthl...,3.,"Hu, Louis (12) (RV)",1:11.84,1:19.60,"Hu, Louis",12,RV,71.84,79.6,1
3,2023,week3,Event 1 - Boys 12&U 100M Individual MedleyAthl...,4.,"Kessous, Eli (12) (SG)",1:23.19,1:24.53,"Kessous, Eli",12,SG,83.19,84.53,1
4,2023,week3,Event 1 - Boys 12&U 100M Individual MedleyAthl...,5.,"Schwieters, Daniel S (11) (RV)",1:21.33,1:24.91,"Schwieters, Daniel S",11,RV,81.33,84.91,1