In [1]:
import csv
import glob
import pandas as pd

In [2]:
year = '2023'
week = 'week1'
#file/folder
csvfolder = f"./data/{year}/{week}/*.csv"
outputcsvfolder =  f"./data/{year}_{week}.csv"

#list csv files
csv_files = glob.glob(csvfolder)
    # print(path)

df_concat = pd.concat([pd.read_csv(path,  sep = '|') for path in csv_files ], ignore_index=True)

#export to csv with | delimited
df_concat.to_csv(outputcsvfolder,sep='|', index=False) # Use pipe to seperate data

In [3]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13452 entries, 0 to 13451
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           13452 non-null  int64
 1   week           13452 non-null  object
 2   event          13452 non-null  object
 3   rank           13452 non-null  object
 4   swimmer        13452 non-null  object
 5   seed           13452 non-null  object
 6   final          13452 non-null  object
 7   swimmer_name   13452 non-null  object
 8   swimmer_age    13452 non-null  int64
 9   swimmer_team   13452 non-null  object
 10  seed_seconds   13452 non-null  object
 11  final_seconds  13452 non-null  object
 12  event_no       13452 non-null  int64
dtypes: int64(3), object(10)
memory usage: 1.3+ MB

In [5]:
df_concat.head()

,year,week,event,rank,swimmer,seed,final,swimmer_name,swimmer_age,swimmer_team,seed_seconds,final_seconds,event_no
0,2023,week1,Event 1 - Boys 12U 100M Individual Medley,1.,"Mulla, Daniel (12) (FM)",1:22.64,1:16.20,"Mulla, Daniel",12,FM,82.64,76.2,1
1,2023,week1,Event 1 - Boys 12U 100M Individual Medley,2.,"Hammond, Dylan J (12) (NO)",1:23.58,1:25.06,"Hammond, Dylan J",12,NO,83.58,85.06,1
2,2023,week1,Event 1 - Boys 12U 100M Individual Medley,3.,"Valle, Max (11) (FM)",1:28.35,1:27.14,"Valle, Max",11,FM,88.35,87.14,1
3,2023,week1,Event 1 - Boys 12U 100M Individual Medley,4.,"Banks, Asa P (11) (NO)",NT,1:36.44,"Banks, Asa P",11,NO,NT,96.44,1
4,2023,week1,Event 1 - Boys 12U 100M Individual Medley,5.,"Robinson, Gordon (12) (NO)",1:50.32,1:50.33,"Robinson, Gordon",12,NO,110.32,110.33,1