In [12]:
import csv
import glob
import pandas as pd

In [13]:
year = '2024'
week = 'week1'
#file/folder
csvfolder = f"./data/{year}/{week}/*.csv"
outputcsvfolder =  f"./data/{year}_{week}.csv"

#list csv files
csv_files = glob.glob(csvfolder)
    # print(path)

df_concat = pd.concat([pd.read_csv(path,  sep = '|') for path in csv_files ], ignore_index=True)

#export to csv with | delimited
df_concat.to_csv(outputcsvfolder,sep='|', index=False) # Use pipe to seperate data

In [16]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14006 entries, 0 to 14005
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           14006 non-null  int64
 1   week           14006 non-null  object
 2   event          14006 non-null  object
 3   rank           14006 non-null  object
 4   swimmer        14006 non-null  object
 5   seed           14006 non-null  object
 6   final          14006 non-null  object
 7   point          14006 non-null  float64
 8   event_no       14006 non-null  int64
 9   swimmer_name   14006 non-null  object
 10  swimmer_age    14006 non-null  int64
 11  swimmer_team   14006 non-null  object
 12  seed_seconds   14006 non-null  object
 13  final_seconds  14006 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [17]:
df_concat.head()

,year,week,event,rank,swimmer,seed,final,point,event_no,swimmer_name,swimmer_age,swimmer_team,seed_seconds,final_seconds
0,2024,week1,Event 1 - Male 12&U 100M Medley,1,"Nishnianidze, Nickolas (11)(QO)",1:16.65,1:17.97,6.0,1,"Nishnianidze, Nickolas",11,QO,76.65,77.97
1,2024,week1,Event 1 - Male 12&U 100M Medley,2,"Okun, Andrew (11)(RS)",1:35.31,1:37.16,4.0,1,"Okun, Andrew",11,RS,95.31,97.16
2,2024,week1,Event 1 - Male 12&U 100M Medley,3,"Golub, Evan (11)(QO)",1:45.75,1:38.62,3.0,1,"Golub, Evan",11,QO,105.75,98.62
3,2024,week1,Event 1 - Male 12&U 100M Medley,4,"Hussmann, Luke (11)(RS)",1:34.59,1:39.15,2.0,1,"Hussmann, Luke",11,RS,94.59,99.15
4,2024,week1,Event 1 - Male 12&U 100M Medley,5,"Sihal, Eesa (12)(RS)",1:40.60,1:42.14,1.0,1,"Sihal, Eesa",12,RS,100.6,102.14