In [1]:
import csv
import glob
import pandas as pd

In [2]:
year = '2024'
week = 'week4'
#file/folder
csvfolder = f"./data/{year}/{week}/*.csv"
outputcsvfolder =  f"./data/{year}_{week}.csv"

#list csv files
csv_files = glob.glob(csvfolder)
    # print(path)

df_concat = pd.concat([pd.read_csv(path,  sep = '|') for path in csv_files ], ignore_index=True)

#export to csv with | delimited
df_concat.to_csv(outputcsvfolder,sep='|', index=False) # Use pipe to seperate data

In [3]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14137 entries, 0 to 14136
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           14137 non-null  int64
 1   week           14137 non-null  object
 2   event          14137 non-null  object
 3   rank           14137 non-null  object
 4   swimmer        14137 non-null  object
 5   seed           14137 non-null  object
 6   final          14137 non-null  object
 7   swimmer_name   14137 non-null  object
 8   swimmer_age    14137 non-null  int64
 9   swimmer_team   14137 non-null  object
 10  seed_seconds   14137 non-null  object
 11  final_seconds  14137 non-null  object
 12  event_no       14137 non-null  int64
dtypes: int64(3), object(10)
memory usage: 1.4+ MB

In [4]:
df_concat.head()

,year,week,event,rank,swimmer,seed,final,swimmer_name,swimmer_age,swimmer_team,seed_seconds,final_seconds,event_no
0,2024,week4,Event 1 - Male 12&U 100M Medley,1,"Tompkins, Jack P (11)(TF)",1:23.07,1:23.84,"Tompkins, Jack P",11,TF,83.07,83.84,1
1,2024,week4,Event 1 - Male 12&U 100M Medley,2,"Zhang, Alexander Z (12)(JC)",1:28.45,1:27.85,"Zhang, Alexander Z",12,JC,88.45,87.85,1
2,2024,week4,Event 1 - Male 12&U 100M Medley,3,"Furtado, Sean E (12)(TF)",1:29.06,1:28.56,"Furtado, Sean E",12,TF,89.06,88.56,1
3,2024,week4,Event 1 - Male 12&U 100M Medley,4,"Lombardo, Theodore A (12)(TF)",NT,1:34.57,"Lombardo, Theodore A",12,TF,NT,94.57,1
4,2024,week4,Event 1 - Male 12&U 100M Medley,5,"Restrepo, Alexander L (12)(JC)",1:38.01,1:35.59,"Restrepo, Alexander L",12,JC,98.00999999999999,95.59,1